p {color: red;
  font-size: 1.3rem;
  background-color: red;
}

h1,h2 {
  color: blue;
  text-align: center;
 }

 .tp{
   width: 100%;
 }

.lt{
  width: 49%;
  float: left;
  margin: 0 30px;
  padding: 10px 5px;
  display:
}

.rt{
  width: 49%;
  float: left;
  margin: 0 30px;
  padding: 10px 5px;
}

 .bt{
   width: 100%;
   text-align: center;
 }
